.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#circle {
   position: absolute;
   top: 20%;
   left: 37%;
}

#countdown {
    position: absolute;
    top: 42%;
    left: 49%;
}