.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#countdown {
    position: absolute;
    top: 42%;
    left: 49%;
}